*.a
*.dat
*genmod*
*.mod
*.o
*.so
*.out*
*.th_o
.deps
.dirstamp

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda

GPATH
GRTAGS
GTAGS
README_OSX
examples/ewald_mpi
examples/helmholtz_spherical
examples/helmholtz_spherical_kernel
examples/helmholtz_spherical_mpi
examples/laplace_cartesian
examples/laplace_cartesian_kernel
examples/laplace_cartesian_mpi
examples/laplace_spherical
examples/laplace_spherical_kernel
examples/laplace_spherical_mpi
examples/tree
patch.git
uniform/fmm
uniform/fmm_ijhpca
uniform/fmm_mpi
wrappers/WORKSMakefile
wrappers/charmm
wrappers/charmm.dSYM/
wrappers/charmm2
wrappers/charmm2.dSYM/
wrappers/gromacs
wrappers/petiga
