*.a
*.dat
*genmod*
*.mod
*.o
*.so
*.out*
*.th_o
.deps
.dirstamp
\#*i\#
*~
.\#*
GPATH
GRTAGS
GTAGS
autom4te.cache
config.h
config.h.in~
config.log
config.status
Makefile
stamp-h1
examples/#profile#
examples/helmholtz_spherical
examples/helmholtz_spherical_kernel
examples/laplace_cartesian
examples/laplace_cartesian_kernel
examples/laplace_spherical
examples/laplace_spherical_kernel
examples/tree
uniform/fmm
uniform/fmm_ijhpca
uniform/fmm_mpi
wrappers/#Makefile#
wrappers/WORKSMakefile
wrappers/charmm.dSYM/
wrappers/charmm2.dSYM/
wrappers/gromacs
wrappers/petiga
